#blue
    .box
        .minibox
            display: inline-block
            background-color: #34489fdf
            width: 120px
            height: 120px
            transform: translate(-200px,60px)
        .demo
            background-color: #34489fdf
            width: 120px
            height: 120px
            transform: translate(-200px,60px)

        .big
            background-color: #34489fdf
            width: 120px
            height: 120px
            transform: translate(0px,60px)
        .txt
            background-color: #34489fdf
            width: 120px
            height: 120px
            transform: translate(204px,60px)
        @media screen and ( max-width: 800px )
            .minibox
                transform: translate(4px, 20px)
                width: 140px
                height: 140px
                margin: 20px 20px 0 20px
