#blue
    padding: 30px 0
    .box
        .minibox
            border: 1px solid black
            width: 120px
            height: 120px
            display: inline-block
            margin: 7px
            transition: 2s
            h1
                font-weight: 300
                font-size: 48px
                color: #a44d4d
            &:hover
                width: 200px
    .wid
        position: absolute
        top: 100px
        left: 100px
