#blue
   
    .box
        .minibox
            border: 1px solid blue
            width: 80px
            height: 80px
            background-color: #3616aa
            display: inline-block
            h1
                font-weight: 400px
                font-size: 20px
                margin: 23px
        .demo
            background-color: #34489fdf
            width: 120px
            height: 120px
            transform: translate(100px,60px)
        .big
            background-color: #34489fdf
            width: 120px
            height: 120px
            transform: translate(103px,60px)
        .txt
            background-color: #34489fdf
            width: 120px
            height: 120px
            transform: translate(104px,60px)
