#brown
    padding: 30px 0
    .box
        .minibox
            width: 110px
            height: 110px
            background-color: #3e1a41a0
            display: inline-block
            border-radius: 50px
            margin: 30px 50px 30px 50px
            background-color: #2e2c10f8
            transition: 2s
            border: 1px solid black
            &:hover
                border-radius: 20px

            h1
                color: #ffff
                font-weight: 300
                font-size: 20px
                display: flex
                justify-content: center
                margin: 45px
