#brown
    .box
        .demo
            width: 120px
            height: 120px
            border-radius: 50px
            background-color: #6f533df0
            display: inline-block
            transform: translate(-250px,179px)
            transition: 2s
            &:hover
                border-radius: 18px
            h1
                font-weight: 400
                font-size: 20px
                color: #ffff
                display: flex
                justify-content: center
                margin: 45px
        .big
            width: 120px
            height: 120px
            border-radius: 50px
            background-color: #6f533df0
            display: inline-block
            transform: translate(-100px,179px)
            transition: 2s
            &:hover
                border-radius: 18px
            h1
                font-weight: 400
                font-size: 20px
                color: #ffff
                display: flex
                justify-content: center
                margin: 45px
        .txt
            width: 120px
            height: 120px
            border-radius: 50px
            background-color: #6f533df0
            display: inline-block
            transform: translate(50px,179px)
            transition: 2s
            &:hover
                border-radius: 18px
            h1
                font-weight: 400
                font-size: 20px
                color: #ffff
                display: flex
                justify-content: center
                margin: 45px
        .red
            width: 120px
            height: 120px
            border-radius: 50px
            background-color: #6f533df0
            display: inline-block
            transform: translate(200px,179px)
            transition: 2s
            &:hover
                border-radius: 18px
            h1
                font-weight: 400
                font-size: 20px
                color: #ffff
                display: flex
                justify-content: center
                margin: 45px
        @media screen and ( min-width: 800px )
            .minibox
                background-color: #8cd16ff6
                width: 50px
                height: 50px
                transition: 2s
                border: 1px solid #8cd16ff6
                border-radius: 40px
                transform: translate(0px,90px)
                margin: 0px 60px 0px 60px
                h1
                    margin: 10px
                    font-weight: 400
                    font-size: 30px
                    color: #ffff
